<!DOCTYPE html>
<html>
    <head>
        <title>ejs</title>
        <link rel ="stylesheet" href="/404style.css" />
    </head>
    <body>
        <h1><%= statusCode %>: <%= message %></h1>
    </body>
</html>