<!DOCTYPE html>
<html>
    <head>
        <title>handlebars</title>
        <link rel ="stylesheet" href="/404style.css" />
    </head>
 <body class="bg-purple">       
        <div class="stars">
            <div class="custom-navbar">
                <div class="brand-logo">
                    <img src="https://i.pinimg.com/originals/a0/26/1b/a0261b885cfba5a65c675c33327acf5a.png" width="80px">
                </div>
            </div>
            <div class="central-body">
                <div style="color: white; font-weight: 600; font-size: 100px;"><%= statusCode %></div>
                <div style="color: white; font-weight: 600; font-size: 80px;"><%= message %></div>
            </div>
            <div class="objects">
                <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                    <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
        </div>
    </body>
</html>